<!DOCTYPE html>
<html lang="en">
<head>
<title>DeepCL: deep convolutional networks in OpenCL</title>
<meta http-equiv="cache-control" content="no-cache" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="../jquery/jquery.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../angular/angular.min.js"></script>
<style>
.container {
   padding: 30px;
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
</style>
<script>
//$( function() {
//});
var app = angular.module('mainapp', [] );
app.controller( 'maincontroller', function( $scope, $http ) {
    console.log('controller start');
    $scope.benchmarks = []
    $http.get('files.txt' ).success( function( benchmarks_text ) {
        console.log('benchmarks_text: ' + benchmarks_text);
        files = benchmarks_text.split('\n');
        var benchmarks = [];
        for( var i = 0; i < files.length; i++ ) {
            if( files[i] == '' ) {
                continue;
            }
            console.log('file: ' + files[i]);
            benchmark = {};
            benchmark.filename = files[i];
            split_filename = files[i].split('-');
            hash = '';
            if( split_filename.length >= 2 ) {
                hash = split_filename[1].split('.')[0];
                benchmark.hash = hash;
            }
            benchmarks[benchmarks.length] = benchmark;
        }
        benchmarks = benchmarks.reverse();
        console.log('benchmarks ' + JSON.stringify(benchmarks));
        $scope.benchmarks = benchmarks;
    }).error( function( error ) {
        console.log('failed to get benchmarks file', error.status, error.data );
        //alert('Server not available, or password was not recognized.');
    });
    $scope.show_benchmark = function(filename) {
        console.log('show_benchmark(' + filename +')');
        $http.get(filename, {'responseType': 'text', 'transformResponse': function(value){
                console.log('transform ' + value );
                return value;
            } }).success( function( benchmark_text ) {
            results = []
            resultsByLabel = {};
            resultsPivoted = [];
            split_text = benchmark_text.split('\n');
            parsed_results = false;
            for( var i = 0; i < split_text.length; i++ ) {
                var line = split_text[i];
                if( line.trim() == '' ) {
                    continue;
                }
                console.log('result line [' + line + ']')
                if( line.indexOf('"format": "v') >= 0 ) {
                    results_dict = JSON.parse(line);
                    results_dict.results_line = line;
                    results[results.length] = results_dict;
                    parsed_results = true;
                    var label = results_dict.label;
                    var direction = results_dict.direction;
                    var time_ms = results_dict.time_ms;
                    if( direction == 'forward' ) {
                        results_dict.forward = time_ms;
                    } else {
                        results_dict.backward = time_ms;
                    }
                    if( label in resultsByLabel ) {
                        if( direction == 'forward' ) {
                            resultsByLabel[label].forward = time_ms;
                        } else {
                            resultsByLabel[label].backward = time_ms;
                        }
                    } else {
                        resultsByLabel[label] = results_dict;                        
                        resultsPivoted[resultsPivoted.length] = results_dict;
                    }
                } else {
                    results[results.length] = { 'result_line': line };
                }
            }
            if( parsed_results ) {
                $scope.modalresultstitle = filename;
                for( var i = 0; i < resultsByLabel.length; i++ ) {
                    results[i] = resultsByLabel
                }
                $scope.cmd_line = results[0].cmd_line.replace(/; /g, '\n');
                $scope.results = resultsPivoted;
                $('#resultsmodal').modal('show');
            } else {
                $scope.oldmodalresultstitle = filename;
                // $scope.oldresultscontents = benchmark_text; //.replace(/\n/g, '<br />');
                $('#oldoutputdiv').html( benchmark_text.replace(/\n/g, '<br />\n') );
                $('#oldresultsmodal').modal('show');
            }
        }).error( function(error ) {
            console.log('failed to get benchmark file ' + filename, error.status, error.data );
        });
    };
});
</script>
</head>
<body ng-app="mainapp" ng-controller="maincontroller">
<div class="container">
    <br />
    <div class="jumbotron">
     <h1>DeepCL Benchmarking</h1>
    </div>

        <table class="table">
        <tr><th>Benchmark</th><th>Code</th><th>Results</th></tr>
        <tr ng-repeat="benchmark in benchmarks" 	>
        <td><a href="{{benchmark.filename}}">{{benchmark.filename}}</a></td>
        <td><a href="https://github.com/hughperkins/DeepCL/tree/{{benchmark.hash}}"</a>{{benchmark.hash}}</td>
        <td><button class="btn btn-default" type="button" ng-click="show_benchmark(benchmark.filename)">Results</button></td>
        </tr>
        </table>

    <div class="modal fade" id="resultsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Results for '{{modalresultstitle}}'</h4>
                </div>
                <div class="modal-body" >
These results were generated using the following commandline, using half a <a href="http://www.gpuzoo.com/GPU-NVIDIA/GRID_K520.html">K520</a>:
<pre>{{cmd_line}}</pre>
        <p>Timings are each for a batch of 128 image cubes</p>
        <table class="table">
        <tr><th>Label</th><th>Type</th><th>Net String</th><th>Forward (ms)</th><th>Backward (ms)</th></tr>
        <tr ng-repeat="result in results">
        <td>{{result.label}}</td>
        <td>{{result.type}}</td>
        <td>{{result.net_string}}</td>
        <td>{{result.forward}}</td>
        <td>{{result.backward}}</td>
        </tr>
        </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="oldresultsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Results for '{{oldmodalresultstitle}}'</h4>
                </div>
                <div class="modal-body" id="oldoutputdiv" >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>

